.tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
}

.tab li {
    float: left;
    display: inline;
}

.tab li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

