.site-content {
    max-width: 900px;
    margin: 0 auto 5em;
}

#wrapper-widget {
    display: flex;
    flex-direction: row;
}

body {
    font-family: "Andale Mono", AndaleMono, monospace;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #090100;
    min-height: 100vh;
}

.tab {
    background-color: #080000;
}

.tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tab li {
    float: left;
    display: inline;
}

.tab .main-nav-bar {
    float: left;
    margin: auto 0 auto;
}

.tab #toggle-button {
    float: right;
}

button {
    background-color: transparent;
    color: white;
    padding: 2%;
    border-radius: 50%;
    font-weight: bold;
    font-family: "Andale Mono", AndaleMono, monospace;
    border-color: white;
    border-radius: 50%;
    border-width: 2px;
}

button:hover {
    background-color: rgba(255, 255, 255, .3);
    border-color: white;
    border-radius: 50%;
    border-width: 2px;
    color: white;
}

#main-title-name {
    font-size: 45px;
    margin: .4em 0;
}

.tab li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.site-header {
    background-color: #080000;
    box-shadow: 0 0 18px 18px #080000 inset;     
    padding: 25px;
    text-align: center;
    background-image: url("../pics/maroon-b.jpg");
    color: white;
    font-size: 30px;
}

.site-header a {
    text-decoration: none;
    color: white;
}

.site-content .wrapper {
    overflow: auto;
    margin: auto;
    display: inline;
    text-align: left;
    overflow: auto;
}

.name-title {
    float: left;
    width: 500px;
    height: auto;
    padding: 10px;
    position: relative;
}

table {
    background-color: rgb(80 80 80 / 30%);
    border: 2px solid #E6E3E3;
    padding: 2%;
    line-height: 1;
    width: 100%;
}

td img {
    border-radius: 50%;
}

td {
    padding: 1em;
}

h1,
h2,
h3,
h4 {
    color: #520d0d;
    text-shadow: -.5px 0 white, 0 .75px white, .5px 0 white, 0 -.5px white;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h2 {
    font-size: 35px;
}

p, li, td {
    font-size: 20px;
    line-height: 35px;
    color: white;
}

.content-bit p, .content-bit li {
    padding: 30px;
}

.content-bit li:hover, .content-bit p:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.site-footer {
    background-color: #080000;
    box-shadow: 0px 10px 50px #080000, 5px 15px 25px #080000 inset;
    text-align: center;
    padding: 3px;
    background-image: url("../pics/maroon-b.jpg");
    color: white;
    text-decoration: none;
    margin-top: auto;
}

.site-footer a {
    text-decoration: none;
    color: white;
}

#portfolio-logo-1 {
    height: 175px;
    padding: 9%;
}

a {
    text-decoration: none;
    color: #70ADD3;
}
